@model IEnumerable<NicePictureStudio.App_Data.Customer>

@{
    ViewBag.Title = "รายชื่อลูกค้าในระบบ";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("สร้างใหม่", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("คำนำหน้าลูกค้าฝ่ายชาย")
        </th>
        <th>
            @Html.DisplayName("ชื่อลูกค้า")
        </th>
        <th>
            @Html.DisplayName("นามสกุลลูกค้าฝ่ายชาย")
        </th>
        <th>
            @Html.DisplayName("เบอร์โทรศัพท์")
        </th>
        <th>
            @Html.DisplayName("อีเมล")
        </th>
        <th>
            @Html.DisplayName("วันครบรอบพิธีแต่งงาน")
        </th>
        <th>
            @Html.DisplayName("คำนำหน้าลูกค้าฝ่ายหญิง")
        </th>
        <th>
            @Html.DisplayName("ชื่อลูกค้าผ่ายหญิง")
        </th>
        <th>
            @Html.DisplayName("นามสกุลลูกค้าฝ่ายหญิง")
        </th>
        <th>
            @Html.DisplayName("เบอร์โทรศัพท์ลูกค้ารฝ่ายหญิง")
        </th>
        <th>
            @Html.DisplayName("อีเมลลูกค้าฝ่ายหญิง")
        </th>
        <th>
            @Html.DisplayName("บ้านเลขที่")
        </th>
        <th>
            @Html.DisplayName("ตึกชั้น อาคาร")
        </th>
        <th>
            @Html.DisplayName("ถนน")
        </th>
        <th>
            @Html.DisplayName("แขวง")
        </th>
        <th>
            @Html.DisplayName("เขต")
        </th>
        <th>
            @Html.DisplayName("จังหวัด")
        </th>
        <th>
            @Html.DisplayName("รหัสไปรษณีย์")
        </th>
        <th>
            @Html.DisplayName("ชื่อผู้แนะนำ")
        </th>
        <th>
            @Html.DisplayName("อีเมลผู้แนะนำ")
        </th>
        <th>
            @Html.DisplayName("เบอร์โทรศัพท์ผู้แนะนำ")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerTitle)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnniversaryDate)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.CoupleTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoupleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoupleSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouplePhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoupleEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingBlock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Road)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subdistrict)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostcalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferencePerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferencePhoneNumber)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("รายละเอียด", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("ลบ", "Delete", new { id=item.CustomerId })
        </td>
    </tr>
}

</table>
