@model NicePictureStudio.App_Data.OutsourceContact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OutsourceContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OutsourceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutsourceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutsourceServiceType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutsourceServiceType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutsourceStatus.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutsourceStatus.StatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OutsourceContactId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
