@model NicePictureStudio.Models.PhotographInfo
<div class="panel-default">
    <div class="panel-heading">รายละเอียดช่างถ่ายภาพ</div>
    <div class="panel-body">
        <div class="form-horizontal">
                <div class="form-group-sm">
                    <div class="col-sm-12 text-left">
                        @Html.Label("ชือรายการ:")
                        @Html.DisplayFor(model=>model.Description)
                    </div>
                </div>
                <div class="form-group-sm">
                    <div class="col-sm-12 text-left">
                        @Html.Label("จำนวนแขกในงาน:")
                        @Html.DisplayFor(model=>model.GuestsNumber) คน
                    </div>
                </div>
            <div class="form-group-sm">
                <div class="col-sm-12 text-left">
                    @Html.Label("จำนวนช่างภาพ:")
                    @Html.DisplayFor(model => model.Numphotographer) คน
                </div>
            </div>
            <div class="form-group-sm">
                <div class="col-sm-12 text-left">
                    @Html.Label("จำนวนช่างถ่ายวีดีโอ:")
                    @Html.DisplayFor(model => model.NumCameraman) คน
                </div>
            </div>  
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">ตารางช่างถ่ายภาพทั้งหมด</div>
    <div class="panel-body">

        @(Html.Kendo().Grid((IEnumerable<NicePictureStudio.Models.EmployeeDetails>)ViewBag.PhotoGrapherList)
            .Name("PhotoGraphDetails")
            .Columns(columns =>
            {
                columns.Bound(p => p.Name).Filterable(false).Width(180).Title("ชื่อ");
                columns.Bound(p => p.Position).Width(100).Title("ตำแหน่ง");
                columns.Bound(p => p.Specialibity).Width(140).Title("ความถนัด / ความสามารถพิเศษ");
                columns.Bound(p => p.PhoneNumber).Width(140).Title("เบอร์โทรศัพท์");
            })
            //.Pageable()
            .Sortable()
            .Scrollable()
            //.Filterable()
            //.HtmlAttributes(new { style = "height:200px;" })
             )
    </div>
</div>



