@if (@ViewBag.ListOutputServices != null)
{
    <div class="form-group">
        <table class="table table-striped">
            <tr><th>Outsource Name</th><th>Description</th><th>OutputURL</th><th>Price</th></tr>
            @foreach (NicePictureStudio.Models.OutputServiceViewModel item in ViewBag.ListOutputServices)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.OutputURL</td>
                    <td>@item.Price</td>
                </tr>
            }
        </table>
    </div>
}
