@model NicePictureStudio.App_Data.LocationService

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBackStepToOutput").on("click", function () {
            event.preventDefault();
            var url = '@Url.Action("SecondFilterOutputService", "Services")';
            $.ajax({
                url: url,
                data: { id: $("#page2Id").val(), serviceType: '@ViewData["ServiceType"]' },
                type: "GET",
                success: function (data) { $("#ServiceSelection").replaceWith(data); }
            })
        });
    });
    
    function ValidateSummary()
    {
        $("#page3Id").val($("#Code").val());
    }

</script>

<div id="divLocation">
        @using (Ajax.BeginForm("CreateLocationServiceTable", "Services", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tblLocation"
        }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>LocationService</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.LocationId, "LocationId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                @Html.HiddenFor(model=>model.Cost)

                @*<div class="form-group">
                    @Html.LabelFor(model => model.IsOverNight, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsOverNight)
                            @Html.ValidationMessageFor(model => model.IsOverNight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.OverNightPeriod, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OverNightPeriod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OverNightPeriod, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.Location.LocationId, htmlAttributes: new { @id = "LocationId", @Name = "LocationId" })
                <input type="hidden" id="ServiceType" name="ServiceType" value="@ViewData["ServiceType"]" />
                <input type="hidden" id="Code" name="Code" value="@Model.Id" />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div id="tblLocation">
            @if (@ViewBag.ListLocationServices != null)
            {

                <div class="form-group">
                    <table class="table table-striped">
                        <tr><th>Location Name</th><th>Description</th><th>OverNight</th><th>OverNightPeriod</th><th>Price</th><th>Action</th></tr>
                        @foreach (NicePictureStudio.Models.LocationServiceViewModel item in ViewBag.ListLocationServices)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                @if (@item.IsOverNight)
                                {
                                    <td>Yes</td>
                                    <td>@item.OverNightPeriod</td>}
                                else
                                {
                                <td>No</td>
                                <td>-</td> }
                                <td>@item.Price</td>
                                <td>@Ajax.ActionLink("Remove", "RemoveLocation", new { Id = @item.Id, serviceType = @ViewData["ServiceType"] }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tblLocation" })</td>
                            </tr>
                        }
                    </table>
                </div>
            }

    </div>
        @using (Ajax.BeginForm("FourthFilterOutsourceService", "Services", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ServiceSelection",
            OnBegin = "ValidateSummary"
        }))
        {
            @Html.AntiForgeryToken()
             <input type="hidden" id="ServiceType" name="ServiceType" value="@ViewData["ServiceType"]" />
            <button type="button" id="btnBackStepToOutput" value="Back"><span class="glyphicon glyphicon-step-backward"></span>ย้อนกลับไปรายการก่อนหน้า</button>
            <button type="submit" id="btnNextToOutsource" value="Next"><span class="glyphicon glyphicon-step-forward"></span>ถัดไป</button>
        }
</div>