@model NicePictureStudio.App_Data.LocationService

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnBackStepToOutput").on("click", function () {
            event.preventDefault();
            var url = '@Url.Action("SecondFilterOutputService", "Services")';
            $.ajax({
                url: url,
                data: { id: $("#page2Id").val(), serviceType: '@ViewData["ServiceType"]' },
                type: "GET",
                success: function (data) { $("#ServiceSelection").replaceWith(data); }
            })
        });

        $("#OverNightPeriod").kendoNumericTextBox().attr("disabled", "disabled");
        $("#OverNightPeriod").kendoNumericTextBox({
            format: "d",
            decimals: 0
        });
        $("#OverNightPeriod").data("kendoNumericTextBox").wrapper.width("100px");
        $("#OverNightPeriod").data("kendoNumericTextBox").wrapper.attr("disabled", "disabled");


        $(function () {
            var locationId = $("#LocationFormId").val();

            if (locationId != "") {
                $("#LocationSelectSearch").attr("disabled", "disabled");
                $("#LocationServiceType").attr("disabled", "disabled");
                $("#btnSelectedLocation").attr("disabled", "disabled");
                $("#lblLocationSelectInfo").removeClass("hidden");
                $("#lblLocationSelectInfoFooter").removeClass("hidden");
            }
            else {
                $("#LocationSelectSearch").attr("disabled", null);
                $("#LocationServiceType").attr("disabled", null);
                //$("#btnSelectedLocation").attr("disabled", null);
                $("#lblLocationSelectInfo").addClass("hidden");
                $("#lblLocationSelectInfoFooter").addClass("hidden");
                if (('@ViewBag.ListLocationServices' != null) && ('@ViewBag.ListLocationServices' != ""))
                {

                    $("#btnSelectedLocation").attr("disabled", "disabled");
                }
                else {

                    $("#btnSelectedLocation").attr("disabled", null);
                }
            }

        });
    });

    function ValidateSummary() {
        $("#page3Id").val($("#Code").val());
    }

    function ChooseLocation()
    {
        $("#btnSelectedLocation").attr("disabled", "disabled");
    }

    function RemoveLocation()
    {
        $("#btnSelectedLocation").attr("disabled", null);
    }

</script>

<div id="divLocation">
    @using (Ajax.BeginForm("CreateLocationServiceTable", "Services", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "tblLocation",
            OnSuccess = "ChooseLocation()"
        }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>การให้บริการสถานที่ในการถ่ายภาพ</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("ชื่อสถานที่", htmlAttributes: new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                    @Html.Label("รายละเเอียด", htmlAttributes: new { @class = "col-md-12" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

            <div class="form-group">
                @Html.Label("ราคา", htmlAttributes: new { @class = "col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control",@readonly = true } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @Html.HiddenFor(model => model.Cost)

            <div class="form-group">
                @*<div class="col-md-1">*@
                <div class="col-md-12">
                    @Html.CheckBoxFor(model => model.IsOverNight, new { @class = "right", @Disabled = true })
                    @Html.ValidationMessageFor(model => model.IsOverNight, "", new { @class = "text-danger" })

                    @*</div>*@
                    @Html.Label(" สถานที่อยู่ต่างจังหวัด", htmlAttributes: new { @class = "", @readonly = true })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("จำนวนวันค้างแรม", htmlAttributes: new { @class = "col-md-12", @readonly = true })
                <div class="col-md-12">
                    @Html.Kendo().NumericTextBoxFor(model => model.OverNightPeriod).HtmlAttributes(new { @id = "OverNightPeriod",@disabled = true }).Min(0).Format("#:0")
                    @Html.ValidationMessageFor(model => model.OverNightPeriod, "", new { @class = "text-danger" })
                </div>
               
            </div>

            @Html.HiddenFor(model => model.Location.LocationId, htmlAttributes: new { @id = "LocationId", @Name = "LocationId" })
            <input type="hidden" id="ServiceType" name="ServiceType" value="@ViewData["ServiceType"]" />
            <input type="hidden" id="Code" name="Code" value="@Model.Id" />

            <div class="form-group">
                <div class="col-md-12">
                   <button id="btnSelectedLocation" type="submit" value="เลือกสถานที่" class="btn btn-default">เลือกสถานที่</button>
                </div>
            </div>
        </div>
    }
    <hr />
    <div class="label label-danger" id="lblLocationSelectInfoFooter">สถานที่ในการถ่ายทำได้ถูกเลือกไว้แล้ว กรุณาไปยังส่วนของการเลือกบริการจัดจ้างในขั้นตอนถัดไป</div>
    <div id="tblLocation">
        @if (@ViewBag.ListLocationServices != null)
        {

            <div class="form-group">
                <table class="table table-striped">
                    <tr><th>Location Name</th><th>Description</th><th>OverNight</th><th>OverNightPeriod</th><th>Price</th><th>Action</th></tr>
                    @foreach (NicePictureStudio.Models.LocationServiceViewModel item in ViewBag.ListLocationServices)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            @if (@item.IsOverNight)
                            {
                                <td>Yes</td>
                                <td>@item.OverNightPeriod</td>}
                            else
                            {
                                <td>No</td>
                                <td>-</td> }
                            <td>@item.Price</td>
                            <td>@Ajax.ActionLink("Remove", "RemoveLocation", new { Id = @item.Id, serviceType = @ViewData["ServiceType"] }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tblLocation", OnComplete = "RemoveLocation()" })</td>
                        </tr>
                    }
                </table>
            </div>
            <hr />
        }

    </div>
    <br />
    <hr />
    @using (Ajax.BeginForm("FourthFilterOutsourceService", "Services", new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ServiceSelection",
            OnBegin = "ValidateSummary"
        }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="ServiceType" name="ServiceType" value="@ViewData["ServiceType"]" />
        <ul class="pager">
            <li class="next">
                <div class="col-md-6 text-left">
                <button type="button" id="btnBackStepToOutput" value="Back"><span class="glyphicon glyphicon-step-backward"></span>ย้อนกลับไปรายการก่อนหน้า</button>
            </div>
        </li>
        <li class="previous">
            <div class="col-md-6 text-right">
                <button type="submit" id="btnNextToOutsource" value="Next"><span class="glyphicon glyphicon-step-forward"></span>ถัดไป</button>
            </div>
        </li>
        </ul>
    }
    </div>
