<div id="tblOutsource">
    @if (@ViewBag.ListOutsourceServices != null)
    {
        <div class="form-group">
            <table class="table table-striped">
                <tr><th>ชื่อบริการ</th><th>รายละเอียด</th><th>PortFolio</th><th>ราคา</th><th></th></tr>
                @foreach (NicePictureStudio.Models.OutsourceServiceViewModel item in ViewBag.ListOutsourceServices)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.PortFolioURL</td>
                        @if (@item.Price == null)
                        {
                            <td>0.00 บาท</td>
                        }
                        else
                        {
                            <td>@item.Price.Value.ToString("#,#0.00 บาท")</td>
                        }
                      
                        <td>@Ajax.ActionLink("Remove", "RemoveOutsource", new { Id = @item.Id, serviceType = @ViewBag.OutsourceServiceType }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tblOutsource" })</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>