@model NicePictureStudio.App_Data.PhotographService

<script type="text/javascript">
    $(document).ready(function () {

        $("#@ViewData["ButtonIdForDWL"]").on("change",function (item) {
            event.preventDefault();
            var selectedItem = $("#@ViewData["ButtonIdForDWL"]").val();
            alert(selectedItem);
            $.ajax({
                url: '@Url.Action("CreatePhotoGraphServiceByModal","Services")',
                data: { id: selectedItem, serviceType: '@ViewData["ServiceType"]' },
                type: "GET",
                success: function (data) { $("#@ViewData["DivServiceForm"]").replaceWith(data); }
            });
        });

       

    });
    function CloseModal()
    {
        $("#btnCancelPhotoGraph").click();
    }
</script>

<div id="@ViewData["DivServiceForm"]">
    @using (@Ajax.BeginForm("CreatePhotoGraphServiceList", "Services", new AjaxOptions { OnSuccess = "CloseModal()" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("PhotographServices", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="list-group col-md-9">
                @Html.DropDownList("Code", @ViewData["PhotoGraphList"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control", @id = ViewData["ButtonIdForDWL"], @name = ViewData["ButtonIdForDWL"] })
            </div>
        </div>
    </div>

        <div class="form-horizontal">
            <h4>PhotographService</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhotographerNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.PhotographerNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhotographerNumber, "", new { @class = "text-danger" })
                </div>
                <!-- Space for adding PhotoGraph Selection-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title left">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@ViewData["CollPhotoPanel"]">
                                Select PhotoGraphy
                            </a>
                        </h4>
                    </div>
                    <div id="@ViewData["CollPhotoPanel"]" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="row">
                                    @foreach (var item in @ViewBag.PhotoGraphListDetails)
                                    {
                                        <div class="thumbnail col-md-3">
                                            <img data-src="holder.js/300x300" alt="...">
                                            <div class="caption">
                                                <h5> PhotoGraph Name : @item.Name</h5>
                                                <!--<p><a href="#stack3" class="btn btn-primary" role="button" data-toggle="modal">Button</a> </p>-->
                                                @if (@item.IsSelect)
                                                { <input type="checkbox" id="EmployeeId" name="EmployeeId" value="@item.Id" checked="checked" />}
                                                else
                                                {
                                                   <input type="checkbox" id="EmployeeId" name="EmployeeId" value="@item.Id"/> 
                                                }                                                                                                                                                
                                                
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CameraManNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CameraManNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CameraManNumber, "", new { @class = "text-danger" })
                </div>
                <!-- Space for adding PhotoGraph Selection-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title left">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@ViewData["CollCameraPanel"]">
                                Select PhotoGraphy
                            </a>
                        </h4>
                    </div>
                    <div id="@ViewData["CollCameraPanel"]" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group">
                                <div class="row">
                                    @for (var i = 0; i <= 7; i++)
                                    {
                                        <div class="thumbnail col-md-3">
                                            <img data-src="holder.js/300x300" alt="...">
                                            <div class="caption">
                                                <h5>Thumbnail label</h5>
                                                <p>...</p>
                                                <!--<p><a href="#stack3" class="btn btn-primary" role="button" data-toggle="modal">Button</a> </p>-->
                                                <input type="checkbox" id="CameraId" name="CameraId" value="Camera01"/>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>





