@model NicePictureStudio.App_Data.Service

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    $(document).ready(function () {
        // Hide the "busy" Gif at load:
         // $("#ServiceFromSection").show();
        //$("#btnHidden").on("click", function (event) { event.preventDefault(); $("#PreWeddingFromSection").hide(); });
        $("#tblCustomerFromService").hide();
        $("#PreWeddingFormSection").hide();
        $("#delPreWedService").hide();
        $(function () {
            $(".autocomplete-with-hidden").autocomplete({
                minLength: 0,
                source: function (request, response) {
                    var url = $(this.element).data("url");

                    $.getJSON(url, { term: request.term }, function (data) {
                        response(data);
                    })
                },
                select: function (event, ui) {
                    $(event.target).next("input[type=hidden]").val(ui.item.id);
                },
                change: function (event, ui) {
                    if (!ui.item) {
                        $(event.target).val("").next("input[type=hidden]").val("");
                    }
                }
            });
        });

        $("#btnSaveAll").on("click", function () {
            event.preventDefault();
            var url = '@Url.Action("SaveAllDocument", "Services")';
            $.ajax({
                url: url,
                type: "POST",
                success: function (data) { $("#SaveFormSection").replaceWith(data); }
            })
        });
        //New Section of NavPattern Code
        $("#NavigateFormGenerate").click(function () {
            var url = $('#NavPattern').data('url');
            $.get(url,null, function (data) {
                $("#NavPatternBody").html(data);
                $("#NavPattern").modal('show');
            });
        });

    });

    function AddPreWeddingService()
    {
        $("#delPreWedService").show();
    }

    function RemovePreWeddingService()
    {
        $("#delPreWedService").hide();
        $.ajax({
            url: '@Url.Action("RemovePreWeddingService", "Services")',
            type: "GET",
            success: function (data) { $("#PreWeddingFormSection").replaceWith(data); }
        });
    }
    //function showServiceForm()
    //{
    //    $("#PreWeddingFromSection").show();
    //}

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block' || e.style.display == '') {
            e.style.display = 'none';
        }
        else {
            e.style.display = 'block';
        }
    }

    @*$("#btnSubmitServiceForm").click(function () {
        alert("Do somthing");
        event.preventDefault();
        $("#ServiceFromSection").show();
        var url = '@Url.Action("ServiceForms")';
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            //success: function (data) { $("#ServiceFromSection").replaceWith(data); },
            success: function(data) {alert("xxxxxxxxxxxxxx");},
            fail: alert("Noooo....")
        })
    });*@
</script>

<h2>Create Services</h2>
<h5>Customers are heart of everything</h5>
<div id="ServiceFormMain">
    <!-- Create Customer Form Section-->
    <table class="table table-responsive">
        <tr>
            <td>
                <button id="togCreateCustomer" type="button" class="btn btn-default" onclick="toggle_visibility('tblCustomerFromService')"><span class="glyphicon glyphicon-plus-sign"></span>Create Customer Information</button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container" id="tblCustomerFromService">
                    @*<div class="form-group">
                            @using (@Ajax.BeginForm("CreateCustomerFromService", "Services", new AjaxOptions
                             {
                                 HttpMethod = "GET",
                                 InsertionMode = InsertionMode.Replace,
                                 UpdateTargetId = "CustomerFromService"
                             }))
                            {
                             <button id="btnAddCustomerForm" class="btn btn-primary col-md-push-1" type="submit"><span class="glyphicon glyphicon-camera"></span> NewCustomer</button>
                            }
                        </div>*@
                    @*<div id="CustomerFromService"></div>*@
                    @*@{Html.RenderPartial("CreateCustomerFromService");}*@
                    @Html.Partial("CreateCustomerFromService")
                </div>
            </td>
        </tr>

    </table>
    <!-- Service Main Section -->
    <table class="table">
        <tr>
            <td class="col-md-6">
                <div id="MainSection">
                    @using (@Ajax.BeginForm("Create", "Services", new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "MainSection"
                }
                ))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Service</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @*<div class="form-group">
                        @Html.Label("Booking No:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.DropDownList("BookingId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Bookings, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                            <div class="form-group">
                                @Html.Label("Booking Name", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.BookingName, new { @class = "autocomplete-with-hidden form-control", data_url = Url.Action("GetListForBookingAutocomplete", "Services"), placeholder = "...Typing your Booking...." })
                                    @Html.Hidden("BookingId")
                                    @Html.ValidationMessageFor(model => model.BookingName)
                                </div>
                            </div>

                            @*<div class="form-group">
                        @Html.LabelFor(model => model.BookingName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BookingName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BookingName, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.GroomName, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.GroomName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GroomName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BrideName, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.BrideName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BrideName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SpecialRequest, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.SpecialRequest, new { @class = "form-control", @rows = "5" })
                                    @Html.ValidationMessageFor(model => model.SpecialRequest, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.Payment, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Payment, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Payment, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PayAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.PayAmount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PayAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            @*<div class="form-group">
                        @Html.LabelFor(model => model.CustomerId, "CustomerId", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                            @*<div class="form-group">
                        @Html.LabelFor(model => model.CRMFormId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CRMFormId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CRMFormId, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                    <input type="reset" value="Clear" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </td>
            <td>
                <h4>Services Cost</h4>            
                <hr />
                <div id="divServicePriceSection">
                    <div class="container-fluid">
                        @using (@Ajax.BeginForm("CalculateServicesCostSummary", "Services", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "divServicePriceSection"
                        }))
                        {
                            <div class="form-horizontal">
                                <div class="col-md-6 col-xs-4">
                                    <label id="lblEstimateContext" class="control-label">Total Estimate Cost : </label>
                                </div>
                                <div class="col-md-6 col-xs-4">
                                    <label id="lblEstimateCost" class="control-label"> $0.00</label>
                                </div>
                            </div>
                            <div class="form-horizontal">
                                <div class="col-md-6">
                                    <label id="lblPromotionContext" class="control-label">Promotion Selected : </label>
                                </div>
                                <div class="col-md-6">
                                    <label id="lblPromotionSelected" class="control-label"> - </label>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="col-md-6">
                                    <label id="lblPromotionDiscountContext" class="control-label">Promotion Discount : </label>
                                </div>
                                <div class="col-md-6">
                                    <label id="lblPromotionDiscount" class="control-label"> 0% </label>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="col-md-6">
                                    <label id="lblTotalCostContext" class="control-label">Total Price Before TAX: </label>
                                </div>
                                <div class="col-md-6">
                                    <label id="lblTotalCost" class="control-label">$0.00</label>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="col-md-6">
                                    <label class="control-label">VAT: </label>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">10%</label>
                                </div>
                            </div>

                            <div class="form-horizontal">
                                <div class="col-md-6">
                                    <label id="lblTotalWithTAXContext" class="control-label">Total Price: </label>
                                </div>
                                <div class="col-md-6">
                                    <label id="lblTotalCostWithTAX" class="control-label">$0.00</label>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="col-md-12 col-md-push-6">
                                    <br />
                                    <input class="btn-primary" type="submit" id="btnCalculatePrice" name="btnCalculatePrice" value="Calculate Price" />
                                </div>

                            </div>
                        }
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="rowa">
                        <div id="SaveFormSection"><br /> </div>
                        <div id="CreateReportSection"></div>
                    </div>
                </div>
                
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" id="NavigateFormGenerate" class=" btn btn-default"><span class="glyphicon glyphicon-adjust" >สร้าง</span></button>
                <button type="button" id="btnSaveAll" class="btn btn-primary"><span class="glyphicon glyphicon-star"></span>Save All</button>
                <button type="button" id="btnGenReport" class="btn btn-default disabled"><span class="glyphicon glyphicon-star"></span>Generate Report</button>
                <button type="reset" id="btnResetForm" class="btn btn-default disabled">Cancel</button>
            </td>
        </tr>
    </table>
</div>

<!-- Create Service Form Section-->

@*<div class="form-horizontal">
    <div class="form-control">
        @using (@Ajax.BeginForm("GetServiceFormById", "Services", new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "PreWeddingFromSection",
                OnSuccess = "showServiceForm()"
            }))
        {
            <!-- Temporary use hidden value -->
            <input type="text" hidden="hidden" value="1" id="serviceFormId" name="serviceFormId" />
            <button id="btnSubmitServiceForm" class="col-md-2" type="submit">Click!!!!</button>
        }
        <button id="btnHidden" class="col-md-2" type="button">Hide</button>
    </div>
</div>*@

<table class="table table-bordered">
    <tr>
        <td><button id="togPreWedService" type="button" class="btn btn-default btn" onclick="toggle_visibility('PreWeddingFormSection')"><span class="glyphicon glyphicon-briefcase"></span>PreWedding Service</button></td>
        <td><button id="delPreWedService" type="button" class="btn btn-warning right" onclick="RemovePreWeddingService()"><span class="glyphicon glyphicon-remove-sign"></span>RemovePreWeddingService</button></td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="PreWeddingFormSection">
                @using (@Ajax.BeginForm("CreateServiceFormFromService", "Services", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "PreWeddingFormSection" }))
                {
                    <div id="bthPreWedding">
                        <button type="submit" id="btnPreWedding" name="Command" value="PreWedding" onclick="AddPreWeddingService()"> Add PreWedding Service </button>
                    </div>
                }
                @*<div id="PreWeddingFormSection"></div>*@
            </div>
        </td>
    </tr>
</table>


<table class="table table-bordered">
    <tr>
        <td>
            <button id="togEngagementService" type="button" class="btn btn-default" onclick="toggle_visibility('EngagementFormSection')"><span class=" glyphicon glyphicon-bullhorn"></span>Engagement Service</button>
        </td>
    </tr>
    <tr>
        <td>
            <div id="EngagementFormSection">
                @using (@Ajax.BeginForm("CreateServiceFormFromService", "Services", new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "EngagementFormSection"
            }))
                {
                    <div id="bthPreWedding">
                        <button type="submit" id="btnPreWedding" name="Command" value="Engagement"> Add PreWedding Service </button>
                    </div>
                }
                @*<div id="EngagementFormSection"></div>*@
            </div>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td>
            <button id="togWeddingService" type="button" class="btn btn-default" onclick="toggle_visibility('WeddingFormSection')"><span class="glyphicon glyphicon-star"></span>Wedding Service</button>
        </td>
    </tr>
    <tr>
        <td>
            <div id="WeddingFormSection">
                @using (@Ajax.BeginForm("CreateServiceFormFromService", "Services", new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "WeddingFormSection"
            }))
                {
                    <div id="bthPreWedding">
                        <button type="submit" id="btnPreWedding" name="Command" value="Wedding"> Add PreWedding Service </button>
                    </div>
                }
                @*<div id="WeddingFormSection"></div>*@
            </div>
        </td>
    </tr>
</table>

<!-- Modal service pattern -->
<div class="modal fade" id="NavPattern" tabindex="-1" role="dialog"
     aria-labelledby="NavService" aria-hidden="true" data-url='@Url.Action("ServicesNavigationOverall", "Services")' data-servicetype="">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="NavModelPattern">
                   Welcome to NicePictureStudio Services :)
                </h4>
            </div>
            <div class="modal-body">
                <div id="NavPatternBody"></div>
            </div>
            <div class="modal-footer">
                <button id="btnCancelPattern" type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->