@model NicePictureStudio.App_Data.Service

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancelService").on("click", function () {
            event.preventDefault();
            var _id = '@Model.Id';
            var url = '@Url.Action("DetailsService", "Services")';
            $.ajax({
                url: url,
                data: { Id: _id },
                type: "GET",
                success: function (data) { $("#MainSection").replaceWith(data); }
            })
        });
    });
</script>

<div id="MainSection">
@using (Ajax.BeginForm("EditService", "Services", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "MainSection"
}))
{
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4><span class="glyphicon glyphicon-camera"></span> Service</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
                @Html.Label("Booking No:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownList("BookingId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Bookings, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("หมายเลขการจอง", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon"><span class="label label-default">T</span></div>
                    @Html.TextBoxFor(model => model.BookingName, new { @class = "autocomplete-with-hidden-booking form-control", data_url = Url.Action("GetListForBookingAutocomplete", "Services"), placeholder = "..กรุณากรอกหมายเลขการจอง...",@readonly=true })
                    @Html.Hidden("BookingId")
                    @Html.ValidationMessageFor(model => model.BookingName)
                </div>
                </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.BookingName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookingName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingName, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("ชื่อเจ้าบ่าว*", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon"><span class="label label-default">T</span></div>
                    @Html.TextBoxFor(model => model.GroomName, new { @class = "autocomplete-with-hidden form-control", data_url = Url.Action("GetListForGroomNameAutocomplete", "Services"), placeholder = "..กรุณากรอกชื่อเจ้าบ่าว...",@readonly=true })
                    @*@Html.EditorFor(model => model.GroomName, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.GroomName, "", new { @class = "text-danger" })
                </div>
                </div>
        </div>

        <div class="form-group">
            @Html.Label("ชื่อเจ้าสาว*", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon"><span class="label label-default">T</span></div>

                    @Html.TextBoxFor(model => model.BrideName, new { @class = "autocomplete-with-hidden form-control", data_url = Url.Action("GetListForBrideNameAutocomplete", "Services"), placeholder = "..กรุณากรอกชื่อเจ้าสาว...", @readonly = true })
                    @*@Html.EditorFor(model => model.BrideName, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.ValidationMessageFor(model => model.BrideName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("คำขอพิเศษ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon"><span class="label label-default">M</span></div>

                    @(Html.Kendo().MultiSelect()
                                     .Name("BookingSpecialRequests")
                               .BindTo(@ViewBag.SpecialOrder as MultiSelectList).HtmlAttributes(new { @Style = "width:200px", @id = "BookingSpecialRequests" }).Value(@ViewBag.SelectedSpecialOrder as MultiSelectList))

                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.Label("บริการให้คำแนะนำ", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                 @(Html.Kendo().MultiSelect()
                      .Name("SpecialRequests")
                      .BindTo(new List<string>() {
                          "ต้องการผู้ช่วยออกแบบงาน",
                          "ต้องการความรู้ในพิธีแต่งงาน",
                          "ต้องการความรู้ในพิธีแต่งงาน",
                          "ต้องการคำแนะนำงานพิธีไทย",
                          "ต้องการคำแนะนำพิธีจีน"
                      }).HtmlAttributes(new { @Style = "width:200px" })
                )
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("บริการให้คำแนะนำ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon"><span class="label label-default">M</span></div>
                    @(Html.Kendo().MultiSelect()
                                      .Name("ServiceSuggestions")
                              .BindTo(@ViewBag.SuggestionService as MultiSelectList).HtmlAttributes(new { @Style = "width:200px", @id = "ServiceSuggestions" }).Value(@ViewBag.SelectedSuggestion as MultiSelectList)
                    )
                </div>
              </div>
        </div>

        <div class="form-group">
            @Html.Label("หมายเหตุ", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="label label-default">T</span>
                    </div>

                    @Html.TextAreaFor(model => model.SpecialRequest, new { @class = "form-control", @rows = "5" })
                    @Html.ValidationMessageFor(model => model.SpecialRequest, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Payment, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Payment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Payment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PayAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PayAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PayAmount, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.CustomerId, "CustomerId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.CRMFormId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CRMFormId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CRMFormId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="ยืนยัน" class="btn btn-default" />
                <input type="button" id="btnCancelService" value="ยกเลิกการแก้ไข" class="btn btn-default" />
            </div>
        </div>
    </div>
}
</div>
    