
<script type="text/javascript">
    $(document).ready(function () {

        $("#dwnServicePattern").on("change", function (item) {
            event.preventDefault();
            var selectedItem = $("#dwnServicePattern").val();
            $.ajax({
                url: '@Url.Action("CreatePhotoGraphServiceByModal","Services")',
                data: { id: selectedItem, serviceType: '@ViewData["SType"]' },
                type: "GET",
                success: function (data) { $("#divPhotoGraph").replaceWith(data); }
            });
        });

        $("#PhotoGraphNumberInput").on("change", function (selectBox) {
            event.preventDefault();
            var numberP = $("#PhotoGraphNumberInput").data("kendoNumericTextBox").value();
            var numberC = $("#CameraManNumberInput").data("kendoNumericTextBox").value();
            $.ajax({
                url: '@Url.Action("PhotoGraphFilterCalc", "Services")',
                data: { Pnumber: numberP, Cnumber: numberC },
                type: "POST",
                success: function (data) {
                    var dropdownList = $("#dwnServicePattern").data("kendoDropDownList");
                    dropdownList.select(parseInt(data));
                    
                    $.ajax({
                        url: '@Url.Action("CreatePhotoGraphServiceByModal","Services")',
                        data: { id: data, serviceType: '@ViewData["SType"]' },
                        type: "GET",
                        success: function (data) { $("#divPhotoGraph").replaceWith(data); }
                    });

                }
            });
        });

        $("#CameraManNumberInput").on("change", function (selectBox) {
            event.preventDefault();
            var numberP = $("#PhotoGraphNumberInput").data("kendoNumericTextBox").value();
            var numberC = $("#CameraManNumberInput").data("kendoNumericTextBox").value();
            $.ajax({
                url: '@Url.Action("PhotoGraphFilterCalc", "Services")',
                data: { Pnumber: numberP, Cnumber: numberC },
                type: "POST",
                success: function (data) {
                    var dropdownList = $("#dwnServicePattern").data("kendoDropDownList");
                    dropdownList.select(parseInt(data));

                    $.ajax({
                        url: '@Url.Action("CreatePhotoGraphServiceByModal","Services")',
                        data: { id: data, serviceType: '@ViewData["SType"]' },
                        type: "GET",
                        success: function (data) { $("#divPhotoGraph").replaceWith(data); }
                    });

                }
            });
        });

    });

</script>
<div id="ServiceSelection">
    <div class="panel panel-default">
        <div class="panel-heading">ตัวเลือกต่างๆ</div>
        <div class="panel-info">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <div class="form-horizontal">
                            <div class="form-group-sm">
                                <div><label class="control-label">จำนวนช่างภาพ</label></div>
                                <div>@Html.Kendo().NumericTextBox().Name("PhotoGraphNumberInput").Min(Convert.ToDouble(ViewData["MinPHNum"])).Max(5).Format("D").Value(Convert.ToDouble(ViewData["CurPHNum"])).HtmlAttributes(new { @style="width:80px"})</div>
                            </div>
                            <br />
                            <div class="form-group-sm">
                                <div><label class="control-label">จำนวนช่างภาพวีดีโอ</label></div>
                                <div>@Html.Kendo().NumericTextBox().Name("CameraManNumberInput").Min(Convert.ToDouble(ViewData["MinCMNum"])).Max(3).Format("D").Value(Convert.ToDouble(ViewData["CurCMNum"])).HtmlAttributes(new { @style = "width:80px" })</div>
                            </div>
                            <br />
                            <div class="form-group-sm">
                                @*@Html.Label("PhotographServices", htmlAttributes: new { @class = "control-label col-md-3" })*@
                                <div><label class="control-label">ตัวเลือกบริการช่างถ่ายภาพ</label></div>
                                <div class="list-group col-md-9">
                                    @*@Html.Kendo().DropDownList("Code", @ViewData["ServiceList"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control", @id = "dwnServicePattern", @name = "dwnServicePattern" })*@
                                    @Html.Kendo().DropDownList().Name("dwnServicePattern").BindTo(@ViewData["ServiceList"] as IEnumerable<SelectListItem>).HtmlAttributes(new { @id = "dwnServicePattern" }).SelectedIndex(Convert.ToInt32(@ViewData["Code"]))
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-horizontal container-fluid">
                            <div class="row">
                                <a href="#" class="img-rounded">
                                    <img src="@Url.Content("~/Content/images/PhotoGraph/Cover/PhotoGraphCover8.jpg")" class="img-thumbnail" />
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <div class="panel-body">
            @{Html.RenderAction("CreatePhotoGraphServiceByModal", "Services", new { id=@ViewData["Code"],ServiceType = @ViewData["SType"] });}
        </div>
    </div>
</div>