<div id="tblOutput">
    @if (@ViewBag.ModifyOutput != null)
    {
        <div class="form-group">
            <table class="table table-striped">
                <tr><th>ชื่อ</th><th>รายละเอียด</th><th>จำนวนชุด</th><th>ราคา</th><th></th></tr>
                @foreach (NicePictureStudio.Models.OutputServiceViewModel item in ViewBag.ModifyOutput)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.OutputQuantity</td>
                        <td>@item.Price</td>
                        <td>@Ajax.ActionLink("Remove", "RemoveOutputWhenEdit", new { Id = @item.Id, serviceType = @ViewBag.OutputServiceType }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = @ViewData["tblequipment"].ToString() })</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

