<script type="text/javascript">
    $(document).ready(function () {
        $("#dwnServicePattern").on("change", function (item) {
            event.preventDefault();
            var selectedItem = $("#dwnServicePattern").val();
            alert(selectedItem);
            $.ajax({
                url: '@Url.Action("CreateOutputServiceByModalWhenEditNew","Services")',
                data: { id: selectedItem, serviceType: '@ViewData["SType"]' },
                type: "GET",
                success: function (data) { $("#divOutput").replaceWith(data); }
            });
        });
    });

</script>

<div id="ServiceSelection">
    <div class="panel panel-default">
        <div class="panel-heading">ตัวเลือกต่างๆ</div>
        <div class="panel-info">
            <div class="form-horizontal">
                <div class="form-group-sm">
                    <div>รูปแบบรูปภาพ</div>
                    <div>@Html.Kendo().DropDownList().Name("OutputType").HtmlAttributes(new { @class = "form-control", @id = "dwnOutputType" })</div>
                    <div>ประเภทของผลงาน</div>
                    <div>@Html.Kendo().DropDownList().Name("OutputSize").HtmlAttributes(new { @class = "form-control", @id = "dwnOutputSize" })</div>
                </div>
                <div class="form-group col-lg-12">
                    @Html.Label("OutputServices : ลองภาษาไทย", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="list-group col-md-10">
                        @*@Html.DropDownList("Code", @ViewData["OutputList"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-group", @id = "dwnServicePattern", @name = "dwnServicePattern" })*@
                        @Html.Kendo().DropDownList().Name("dwnServicePattern").BindTo(@ViewData["OutputList"] as IEnumerable<SelectListItem>).HtmlAttributes(new { @class = "form-control", @id = "dwnServicePattern" }).SelectedIndex(Convert.ToInt32(@ViewData["Code"]))
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @{Html.RenderAction("CreateOutputServiceByModalWhenEditNew", "Services", new { id = @ViewData["Code"], ServiceType = @ViewData["SType"], IsEditTable = @ViewBag.IsEditTable });}
        </div>
    </div>
</div>
