@model NicePictureStudio.App_Data.ServiceForm
<div id="ServiceNavigation">
    <div class="container">
        <table class="table table-responsive">
            <tr>
                <td class="col-md-4 col-lg-4">
                    @*<div class="row">*@
                        <div>
                            @Html.AntiForgeryToken()
                            <form class="panel panel-primary" id="FormSubmit">
                                <div class="panel-heading">Services Details</div>
                                <div class="panel-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.Label("ประเภทบริการ", new {@class="col-sm-3" })
                                            <div class="col-sm-9">
                                                @Html.Kendo().DropDownList().Name("ServiceTypeId").BindTo(new string[] { "PreWedding", "Engagement", "Wedding" })
                                                @Html.ValidationMessage("ServiceTypeId", "*")
                                              </div>
                                           </div>
                                        <div class="form-group">
                                            @Html.Label("เริ่มต้น ", new {@class="col-sm-3" })
                                            <div class="col-sm-9">
                                                @Html.Kendo().DateTimePickerFor(model => model.EventStart).Min(DateTime.Now).HtmlAttributes(new { @id = "EventStart", @styles = "width:120px" }).Value(Model.EventStart == DateTime.MinValue ? DateTime.Now : Model.EventStart)
                                                @*@Html.Kendo().DateTimePicker().Name("EventStart").Min(DateTime.Now)*@
                                                @Html.ValidationMessageFor(model => model.EventStart)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.Label("สิ้นสุด ", new { @class = "col-sm-3" })
                                            <div class="col-sm-9">
                                                @Html.Kendo().DateTimePickerFor(model => model.EventEnd).Min(DateTime.Now).HtmlAttributes(new { @id = "EventEnd", @styles = "width:80px" }).Value(Model.EventEnd == DateTime.MinValue ? DateTime.Now : Model.EventEnd)
                                                @*@Html.Kendo().DateTimePicker().Name("EventEnd").Min(DateTime.Now)*@
                                                @Html.ValidationMessageFor(model => model.EventEnd)
                                            </div>
                                            </div>
                                        <div class="form-group">
                                            @Html.Label("จำนวกแขกในงาน", new { @class = "col-sm-3" })
                                            <div class="col-sm-9">
                                                @Html.Kendo().NumericTextBox().Name("GuestNumber").Min(1).HtmlAttributes(new { @id = "GuestNumber", @styles = "width:20px" }).Value(Model.GuestsNumber == null ? 100 : Model.GuestsNumber).Format("D")
                                                @*@Html.Kendo().NumericTextBox().Name("GuestNumber").Min(1).Value(50)*@
                                                @Html.ValidationMessageFor(model => model.GuestsNumber)
                                            </div>
                                            </div>
                                        <div class="form-group">
                                            <div style="align-content:center" class="col-sm-12">
                                                <button id="StartCreateService" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-book"></span>Start</button>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="panel panel-primary">
                                <div class="panel-heading">รายละเอียดค่าใช้จ่าย</div>
                                <div class="panel-body">
                                    <!-- Service Payment-->
                                    <div id="divServicePriceSection">
                                        <div class="row">
                                            @using (@Ajax.BeginForm("CalculateServicesCostSummary", "Services", new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "divServicePriceSection"
                                    }))
                                            {
                                                <div class="form-horizontal">
                                                    <div class="form-group-sm">
                                                        
                                                            <label id="lblEstimateContext" class="control-label col-sm-6">Total Estimate Cost : </label>
                                                       
                                                        <div class="col-sm-6">
                                                            <label id="lblEstimateCost" class="control-label"> $0.00</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-sm">
                                                      
                                                            <label id="lblPromotionContext" class="control-label col-sm-6">Promotion Selected : </label>
                                                    
                                                        <div class="col-md-6">
                                                            <label id="lblPromotionSelected" class="control-label"> - </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-sm">
                                                        
                                                            <label id="lblPromotionDiscountContext" class="control-label col-sm-6">Promotion Discount : </label>
                                                       
                                                        <div class="col-md-6">
                                                            <label id="lblPromotionDiscount" class="control-label"> 0% </label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-sm">
                                                      
                                                            <label id="lblTotalCostContext" class="control-label col-sm-6">Price Before TAX: </label>
                                                        
                                                        <div class="col-md-6">
                                                            <label id="lblTotalCost" class="control-label">$0.00</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-sm">
                                                      
                                                            <label class="control-label col-sm-6">VAT: </label>
                                                       
                                                        <div class="col-md-6">
                                                            <label class="control-label">10%</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group-sm">
                                                     
                                                            <label id="lblTotalWithTAXContext" class="control-label col-sm-6">Total Price: </label>
                                                       
                                                        <div class="col-md-6">
                                                            <label id="lblTotalCostWithTAX" class="control-label">$0.00</label>
                                                        </div>
                                                    </div>

                                                    <div class="tab-content">
                                                        <div class="col-md-12">
                                                            <br />
                                                            <input class="btn-primary" type="submit" id="btnCalculatePrice" name="btnCalculatePrice" value="Calculate Price" />
                                                        </div>

                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End row-->
                </td>
                <td class="col-md-8 col-lg-8">
                    <div>
                        <div class="panel panel-primary">
                            <div class="panel-heading"></div>
                            <div class="panel-body">
                                <div id="ServiceSelection">

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                </tr>
            </table>
                        @*</div>*@
                    @*</div>*@
    </div>
<div id="HiddenNav">
    @Html.Hidden("hdPage1",null, new { @id = "page1Id" });
    @Html.Hidden("hdPage2", null, new {@id = "page2Id" });
    @Html.Hidden("hdPage3", null, new { @id = "page3Id" });
    @Html.Hidden("hdPage4", null, new { @id = "page4Id" });
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#EventStart").kendoDateTimePicker().attr("required", true);
        $("#EventEnd").kendoDateTimePicker().attr("required", true);
        $("#GuestNumber").kendoNumericTextBox().attr("required",true);

        $("#FormSubmit").on("submit", function () {
            event.preventDefault(); 
            var validatorStartEvent = $("#FormSubmit").kendoValidator().data("kendoValidator");
            validatorStartEvent.validate();

            var url = '@Url.Action("MainFilterPhotoGrapService", "Services")';
            var selectedValue = $("#ServiceTypeId").data("kendoDropDownList").value();
            var selectedStartDate = $("#EventStart").val();
            var selectedEndDate = $("#EventEnd").val();
            var guestNum = $("#GuestNumber").data("kendoNumericTextBox").value();


            $.ajax({
                url: url,
                data: { id: null, serviceType: selectedValue, startDate: selectedStartDate, endDate: selectedEndDate, guestNumber: guestNum },
                type: "GET",
                success: function (data) { $("#ServiceSelection").replaceWith(data); }
            })
        });
    });
</script>
