<script type="text/javascript">
    $(document).ready(function () {
        $("#dwnServicePattern").on("change", function (item) {
            event.preventDefault();
            var selectedItem = $("#dwnServicePattern").val();
            //alert(selectedItem);
            $.ajax({
                url: '@Url.Action("CreateLocationServiceByModal","Services")',
                data: { id: selectedItem, serviceType: '@ViewData["SType"]' },
                type: "GET",
                success: function (data) { $("#divLocation").replaceWith(data); }
            });
        });


        $(function () {
            $(".autocomplete-with-hidden-location-select").autocomplete({
                minLength: 0,
                source: function (request, response) {
                    var url = $(this.element).data("url");

                    $.getJSON(url, { term: request.term }, function (data) {
                        response(data);
                    })
                },
                select: function (event, ui) {
                    $(event.target).next("input[type=hidden]").val(ui.item.id);
                    var url = '@Url.Action("CreateLocationServiceByModal", "Services")'
                    $.ajax({
                        url: url,
                        data: { id: ui.item.id, serviceType: '@ViewData["SType"]' },
                        type: "GET",
                        success: function (data) { $("#divLocation").replaceWith(data); }
                    })
                },
                change: function (event, ui) {
                    if (!ui.item) {
                        $(event.target).val("").next("input[type=hidden]").val("");
                    }
                }
            });
        });

    });

</script>

<div id="ServiceSelection">
    <div class="panel panel-default">
        <div class="panel-heading">ตัวเลือกต่างๆ</div>
        <div class="panel-info">
            <table class="table table-responsive">
                <tr>
                    <td class="col-md-5">
                        <div class="form-horizontal">
                            <div class="form-group-sm">
                                <div><label class="control-label">ค้นหาชื่อสถานที่</label></div>
                                <div>
                                    @*@Html.Kendo().AutoComplete().Name("HotelList").BindTo(new string[] {"Hilton","Sheraton","Shangarila","Orienten","Dusit","Centara Grand" }).HtmlAttributes(new { @style="width:250px"})*@
                                    @Html.TextBox("LocationSelectSearch", null, new { @class = "autocomplete-with-hidden-location-select form-control", data_url = Url.Action("Search_LocationServices", "Services") })
                                    @Html.Hidden("LocationSelectId")
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group-sm">
                                <div><label class="control-label">ประเภทของสถานที่</label></div>
                                    <div>
                                        @*@Html.Kendo().DropDownList().Name("LocationCatalog").HtmlAttributes(new { @id = "dwnLocationCatalog" }).BindTo(
                                                              new string[] { "โรงแรม", "สถานที่ต้องขออนุญาติ", "สถานที่ราชการ", "สตูดิโอ","ร้านอาหาร","โบสถ์","อื่นๆ" })*@
                                        @(Html.Kendo().DropDownList()
                                         .Name("LocationServiceType")
                                      .HtmlAttributes(new { style = "width:240px" })
                                      .OptionLabel("กรุณาเลือกประเภทของสถานที่...")
                                      .DataTextField("LocationTypeName")
                                      .DataValueField("LocationTypeId")
                                      .DataSource(source =>
                                      {
                                          source.Read(read =>
                                          {
                                              read.Action("LocationType_Read", "Services");
                                          });
                                      })
                                        )
                                  </div>
                              </div>
                                <div class="form-group-sm">
                                    <div><label class="control-label">รูปแบบงานพิธี</label></div>
                                    <div>
                                        @*@Html.Kendo().DropDownList().Name("LocationType").HtmlAttributes(new { @id = "dwnLocationType" }).BindTo(
                                            new string[] { "พิธีกงานกลางแจ้ง", "พิธีงานในร่ม", "พิธีงานให้ห้องโรงแรม" })*@

                                        <script>
                                            function filterLocationType() {
                                                return {
                                                    locationTypeId: $("#LocationServiceType").val()
                                                };
                                            }
                                        </script>

                                        @(Html.Kendo().DropDownList()
                                          .Name("LocationServiceStyle")
                                          .HtmlAttributes(new { style = "width:240px" })
                                          .OptionLabel("กรุณาเลือกรูปแบบของสถานที่...")
                                          .DataTextField("LocationStyleName")
                                          .DataValueField("LocationStyleID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("LocationStyles_Read", "Services")
                                                      .Data("filterLocationType");
                                              })
                                              .ServerFiltering(true);
                                          })
                                          .Enable(false)
                                          .AutoBind(false)
                                          .CascadeFrom("LocationServiceType")
                                        )


                                    </div>
                                </div>
  
                            <div class="form-group-sm">
                                @*@Html.Label("สถานที่", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div><label class="control-label">สถานที่ที่ถูกเลือก</label></div>
                                <div class="list-group col-md-10">
                                    @*@Html.DropDownList("Code", @ViewData["OutputList"] as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-group", @id = "dwnServicePattern", @name = "dwnServicePattern" })*@
                                    @*@Html.Kendo().DropDownList().Name("dwnServicePattern").BindTo(@ViewData["LocationList"] as IEnumerable<SelectListItem>).HtmlAttributes(new {  @id = "dwnServicePattern" }).SelectedIndex(Convert.ToInt32(@ViewData["Code"]))*@
                                    <script>
                                        function filterLocationTypeAndStyle() {
                                            return {
                                                locationTypeId: $("#LocationServiceType").val(), locationStyleId: $("#LocationServiceStyle").val()
                                            };
                                        }
                                    </script>

                                    @(Html.Kendo().DropDownList()
                                          .Name("dwnServicePattern")
                                          .HtmlAttributes(new { @style = "width:240px", @id = "dwnServicePattern" })
                                          .OptionLabel("บริการเลือกสถานที่..")
                                          .DataTextField("LocationServiceName")
                                          .DataValueField("LocationServiceID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("LocationServices_Read", "Services")
                                                      .Data("filterLocationTypeAndStyle");
                                              })
                                              .ServerFiltering(true);
                                          })
                                          .Enable(false)
                                          .AutoBind(false)
                                                  .CascadeFrom("LocationServiceStyle")
                                    )


                                </div>
                            </div>
                        </div>
                     </td>
                    <td class="col-md-7">
                        <div class="form-horizontal container-fluid">
                            <div class="row">
                                <a href="#" class="img-rounded">
                                    <img src="@Url.Content("~/Content/images/Hotel/HotelCover1.jpg")" class="img-thumbnail" />
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <div class="panel-body">
            @{Html.RenderAction("CreateLocationServiceByModal", "Services", new { id = @ViewData["Code"], ServiceType = @ViewData["SType"] });}
        </div>
    </div>
</div>
