@model IEnumerable<NicePictureStudio.Models.CustomerRelation>

@{
    ViewBag.Title = "ลูกค้าสัมพันธ์";
}

<script type="text/javascript">
    kendo.culture("th-TH");
</script>

<div id="CustomerRelationSection">
    <hr />
    <table class="table table-responsive table-bordered  table-striped">
        <tr class="success">
            <th class="text-center">
                @Html.DisplayName("ชื่อลูกค้า")
            </th>
            <th class="text-center">
                @Html.DisplayName("หมายเลขโทรศัพท์")
            </th>
            <th class="text-center">
                @Html.DisplayName("อีเมล")
            </th>
            <th class="text-center">
                @Html.DisplayName("ที่อยู่")
            </th>
            <th class="text-center">
                @Html.DisplayName("วันครบรอบแต่งงาน")
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.AnniversaryDate, "{0:dd/MM/yyyy}")
                </td>
            </tr>
        }
    </table>

</div>