<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" >
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                 @Html.ActionLink("รูปสวยโฟโต้", "Index", "Home", null, new { @class = "navbar-brand", @style = "vertical-align:middle" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">การให้บริการ <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                            <li>@Html.ActionLink("จอง", "Index", "Bookings")</li>
                            <li>@Html.ActionLink("การให้บริการ", "Index", "Services")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ตารางการถ่ายภาพ <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                            <li>@Html.ActionLink("ตารางงาน", "Index", "ServiceForms")</li>
                            <li>@Html.ActionLink("ตารางงานของช่างภาพ", "Index", "EmployeeSchedules")</li>
                            <li>@Html.ActionLink("ตารางอุปกรณ์", "Index", "EquipmentSchedules")</li>
                            <li>@Html.ActionLink("ตารางสถานที่", "Index", "LocationSchedules")</li>
                            <li>@Html.ActionLink("ตารางงานการจัดจ้่ง", "Index", "OutsourceSchedules")</li>
                            <li>@Html.ActionLink("ตารางงานส่งลูกค้า", "Index", "OutputScheduler")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ลูกค้า <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                            <li>@Html.ActionLink("ลูกค้า", "Index", "Customers")</li>
                            <li>@Html.ActionLink("การสร้างแบบประเมิน", "Index", "CRMTemplates")</li>
                            <li>@Html.ActionLink("ลูกค้าสัมพันธ์", "CRMCustomerRelation", "CRMTemplates")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">รายงาน <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                            <li>@Html.ActionLink("รายงาน", "", "")</li>
                        </ul>
                    </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ติดต่อเรา <span class="caret"></span></a>
                        <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                            <li>@Html.ActionLink("เกี่ยวกับเรา", "Index", "Home")</li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">บริการ <span class="caret"></span></a>
                            <ul class="dropdown-menu navbar-nav navbar-inverse" role="menu">
                                <li>@Html.ActionLink("การจัดการตำแหน่ง", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("การจัดการบุคคล", "Index", "UsersAdmin")</li>
                                <li>@Html.ActionLink("การจัดการข้อมูลหลัก", "Contact", "Home")</li>
                            </ul>
                        </li>
                       
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - รูปสวยโฟโต้ จำกัด</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
