@model NicePictureStudio.Models.TableReportModel
@{
    ViewBag.Title = "รายละเอียดชิ้นงานส่งลูกค้า";
}

<h2>รายละเอียดสำหรับชิ้นงานส่งลูกค้า</h2>
<br />

<div class="panel panel-info">
    <div class="panel-heading">
        ข้อมูลทั่วไป
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <!--Customer/Booking Section-->
                <td rowspan="2">
                    <div class="panel-info">
                        <div class="panel-heading">รายละเอียดลูกค้า</div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("หมายเลขการจอง :")
                                        @Html.DisplayFor(model => model.BookingCode)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("ชื่อเจ้าบ่าว :")
                                        @Html.DisplayFor(model => model.Groom)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("ชื่อเจ้าสาว :")
                                        @Html.DisplayFor(model => model.Bride)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("คำขอร้องพิเศษ :")
                                        @Html.DisplayFor(model => model.BookingRequest)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("คำแนะนำพิเศษ :")
                                        @Html.DisplayFor(model => model.Suggestion)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("หมายเหคุ :")
                                        @Html.DisplayFor(model => model.Remark)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>


                <!--PhotoGraph Section-->
                <td>
                    <div class="panel-info">
                        <div class="panel-heading">รายละเอียดช่างภาพ</div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("ชื่อช่างถ่ายภาพ :")
                                        @Html.DisplayFor(model => model.MainPhotoGraph)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("ตำแหน่ง :")
                                        @Html.DisplayFor(model => model.Position)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("เบอร์โทรศัพท์ :")
                                        @Html.DisplayFor(model => model.PhotoGraphPhoneNumber)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <!--Location Section-->
                <td>
                    <div class="panel-info">
                        <div class="panel-heading">รายละเอียดสถานที่ถ่ายภาพ</div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("สถานที่ถ่ายภาพ :")
                                        @Html.DisplayFor(model => model.Location)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("รายละเอียด :")
                                        @Html.DisplayFor(model => model.LocationDetails)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("เบอร์โทรศัพท์ :")
                                        @Html.DisplayFor(model => model.LocatioNumber)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <div class="panel-heading">รายละเอียดการจัดจ้าง</div>
    <div class="panel-body">
        @{Html.RenderAction("DescriptionOutput", "OutputSchedules", new { outputScheduleId = @Model.OutsourceId });}
    </div>
</div>



