@model NicePictureStudio.Models.TableReportModel
@{
    ViewBag.Title = "รายละเอียดชิ้นงานส่งลูกค้า";
}

<script type="text/javascript">

    function PrintX() {
        $.print("#DetailsContainer");
    }
</script>

<div id="DetailsContainer">
    <h2>
        <span class="glyphicon glyphicon-heart-empty"></span>รายละเอียดชิ้นงานส่งลูกค้า (@Model.ServiceType) <br /><br />
        <button type="button" class="btn btn-warning btn-sm" onclick="window.open('@Url.Action("Edit", "Services", new { id=@Model.ServiceId })')"><span class="glyphicon glyphicon-heart-empty"></span>รายการที่เกี่ยวข้อง</button>
        <button type="button" class="btn btn-default btn-sm" onclick="PrintX()">พิมพ์</button>
    </h2>
    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            ข้อมูลทั่วไป
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <!--Customer/Booking Section-->
                    <td rowspan="2">
                        <div class="panel panel-default">
                            <div class="panel-heading">รายละเอียดลูกค้า</div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("หมายเลขการจอง :")
                                            @Html.DisplayFor(model => model.BookingCode)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("ชื่อเจ้าบ่าว :")
                                            @Html.DisplayFor(model => model.Groom)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("ชื่อเจ้าสาว :")
                                            @Html.DisplayFor(model => model.Bride)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("คำขอร้องพิเศษ :")
                                            @Html.DisplayFor(model => model.BookingRequest)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("คำแนะนำพิเศษ :")
                                            @Html.DisplayFor(model => model.Suggestion)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("หมายเหตุ :")
                                            @Html.DisplayFor(model => model.Remark)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-heading">รายละเอียดการติดต่อลูกค้า</div>
                            <div class="panel-body">
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("เบอร์โทรศัพท์เจ้าบ่าว :")
                                        @Html.DisplayFor(model => model.GroomPhone)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("เบอร์โทรศัพท์เจ้าสาว :")
                                        @Html.DisplayFor(model => model.BridePhone)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("อีเมลเจ้าบ่าว :")
                                        @Html.DisplayFor(model => model.GroomMail)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("อีเมลเจ้าสาว :")
                                        @Html.DisplayFor(model => model.BrideMail)
                                    </div>
                                </div>
                                <div class="form-group-sm">
                                    <div class="col-sm-12 text-left">
                                        @Html.Label("ที่อยู่ลูกค้า :")
                                        @Html.DisplayFor(model => model.Address)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>


                    <!--Location Section-->
                    <td>
                        <div class="panel panel-default">
                            <div class="panel-heading">รายละเอียดเวลาและสถานที่</div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("สถานที่ถ่ายภาพ :")
                                            @Html.DisplayFor(model => model.Location)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("รายละเอียด :")
                                            @Html.DisplayFor(model => model.LocationDetails)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("จำนวนแขกในงาน:")
                                            @Html.DisplayFor(model => model.GuestNumber) &nbsp; คน
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("เริ่มต้น :")
                                            @Html.DisplayFor(model => model.EventStart)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("สิ้นสุด :")
                                            @Html.DisplayFor(model => model.EventEnd)
                                        </div>
                                    </div>
                                    <div class="form-group-sm">
                                        <div class="col-sm-12 text-left">
                                            @Html.Label("เบอร์โทรศัพท์ :")
                                            @Html.DisplayFor(model => model.LocatioNumber)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <!--Photograph Section-->
                    <td>
                        <div class="panel panel-default">
                            <div class="panel-heading">รายละเอียดช่างภาพที่มีหน้าที่รับผิดชอบงาน</div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    @foreach (var item in @Model.listEmployee)
                                    {
                                        <div class="row panel">
                                            <div class="form-group-sm">
                                                <div class="col-sm-12 text-left">
                                                    @Html.Label("ชื่อช่างถ่ายภาพ :")
                                                    @item.Name
                                                </div>
                                            </div>
                                            <div class="form-group-sm">
                                                <div class="col-sm-12 text-left">
                                                    @Html.Label("ตำแหน่ง :")
                                                    @item.Position
                                                </div>
                                            </div>
                                            <div class="form-group-sm">
                                                <div class="col-sm-12 text-left">
                                                    @Html.Label("เบอร์โทรศัพท์ :")
                                                    @item.PhoneNumber
                                                </div>
                                            </div>
                                            <div class="form-group-sm">
                                                <div class="col-sm-12 text-left">
                                                    @Html.Label("อีเมล :")
                                                    @item.Email
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <div class="panel-heading">รายละเอียดการจัดจ้าง</div>
        <div class="panel-body">
            @{Html.RenderAction("DescriptionOutput", "OutputSchedules", new { outputScheduleId = @Model.OutsourceId });}
        </div>


    </div>

</div>






