@model NicePictureStudio.App_Data.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promotion.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promotion.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.BookingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.BookingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
