@model IEnumerable<NicePictureStudio.App_Data.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatu.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promotion.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.BookingName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStatu.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promotion.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.BookingName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@

@(Html.Kendo().Grid<NicePictureStudio.Models.BookingViewsModel>()
    .Name("bookGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).Filterable(false).Width(100);
        columns.Bound(p => p.BookingCode).Width(150);
        columns.Bound(p => p.AppointmentDate).Format("{0:MM/dd/yyyy}").Width(140);
        columns.Bound(p => p.SpecialOrder);
        columns.Bound(p => p.BookingStatus).Width(150);
        columns.Bound(p => p.BookingStatus);
        columns.Bound(p => p.PromotionName);
        //columns.Template(p=> @Html.ActionLink("Edit", "Edit","Bookings", new { id = p.Id }));
        columns.Bound(p => p.Id).Title("Action").ClientTemplate(@Html.ActionLink("Edit", "Edit", "Bookings", new { id = "#=Id#" },null).ToHtmlString());
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .HtmlAttributes(new { style = "height:430px;" })
          .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                    .Read(read => read.Action("Bookings_read", "Bookings"))
     )
)

<button type="button" onclick="refresh()">Refersh Grid</button>

<script>

    function refresh() {
        var grid = $("#bookGrid").data("kendoGrid");
        grid.dataSource.read();
    }
</script>